<h3>{{ 'app.register.register' | translate }}</h3>
<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="emailErrorTip">
      <nz-input-group nzSize="large" nzPrefixIcon="mail">
        <input nz-input formControlName="email" name="email" placeholder="Email" />
      </nz-input-group>
      <ng-template #emailErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.email.required' | translate }}</ng-container>
        <ng-container *ngIf="i.errors?.email">{{ 'validation.email.wrong-format' | translate }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="usernameErrorTip">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="username" name="username" placeholder="Username" />
      </nz-input-group>
      <ng-template #usernameErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.username.required' | translate }}</ng-container>
        <ng-container *ngIf="i.errors?.username">{{ 'validation.username.wrong-format' | translate }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'validation.password.required' | translate">
      <nz-input-group
        nzSize="large"
        nzPrefixIcon="lock"
        nz-popover
        nzPopoverPlacement="right"
        nzPopoverTrigger="focus"
        [(nzVisible)]="visible"
        nzOverlayClassName="register-password-cdk"
        [nzOverlayStyle]="{ 'width.px': 240 }"
        [nzPopoverContent]="pwdCdkTpl"
      >
        <input nz-input type="password" formControlName="password" placeholder="Password" />
      </nz-input-group>
      <ng-template #pwdCdkTpl>
        <div style="padding: 4px 0;">
          <ng-container [ngSwitch]="status">
            <div *ngSwitchCase="'ok'" class="success">{{ 'validation.password.strength.strong' | translate }}</div>
            <div *ngSwitchCase="'pass'" class="warning">{{ 'validation.password.strength.medium' | translate }}</div>
            <div *ngSwitchDefault class="error">{{ 'validation.password.strength.short' | translate }}</div>
          </ng-container>
          <div class="progress-{{ status }}">
            <nz-progress
              [nzPercent]="progress"
              [nzStatus]="passwordProgressMap[status]"
              [nzStrokeWidth]="6"
              [nzShowInfo]="false"
            ></nz-progress>
          </div>
          <p class="mt-sm">{{ 'validation.password.strength.msg' | translate }}</p>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="confirmErrorTip">
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input nz-input type="password" formControlName="confirm" placeholder="Confirm Password" />
      </nz-input-group>
      <ng-template #confirmErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.confirm-password.required' | translate }}</ng-container>
        <ng-container *ngIf="i.errors?.equar">{{ 'validation.password.twice' | translate }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzExtra="您的基础货币，暂时只支持人民币">
      <nz-select nzSize="large" formControlName="base_currency_code" ngModel="CNY" nzAllowClear nzPlaceHolder="Select Base Currency Code">
        <nz-option nzLabel="CNY" nzValue="CNY"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="http.loading" class="submit">
      {{ 'app.register.register' | translate }}
    </button>
    <a class="login" routerLink="/passport/login">{{ 'app.register.sign-in' | translate }}</a>
  </nz-form-item>
</form>
