@import '~@delon/theme/index';
:host ::ng-deep {
  .select-icon {
    padding-right: 4px;
  }

  .loadmore {
    height: 32px;
    margin-top: 12px;
    line-height: 32px;
    text-align: center;
  }

  .float-right {
    float: right;
  }
}
